/* General CSS for configuration pages sections */
.LoginGuardPlugin legend {
	width: 100% !important;
}

.LoginGuardPlugin fieldset p {
	padding-left: 20px;
}

/* Styles for General Settings Page */
.LoginGuardPlugin .BanDurationExample ul {
	list-style: circle;
	padding-top: 0 !important;
	margin-top: 1em;
}

.LoginGuardPlugin .BanDurationExample li {
	font-size: 14px;
}

.LoginGuardPlugin .BanDurationExample .Title {
	padding: 0 !important;
	font-size: 120%;
}

.LoginGuardPlugin .Aside {
	width: 350px;
}
